* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 80px;
}
.collapseDiv {
    background-color: rgb(83, 83, 83);
    height: 50px;
    }
.btn {
    justify-content: flex-end;
}
